
/*reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@import "./layaut/header";

@import "./base/reset";

@import "./container/carrusel-component";

@import "./layaut/grid";

@import "./layaut/botones";

@import "./layaut/footer";
