
/*reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "./base/reset";

@import "./layaut/header";



@import "./layaut/grid";

@import "./layaut/botones";

@import "./layaut/footer";
