footer{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid;
    padding: 15PX;
    align-items: center;
    img{
        display: flex;
        margin: 5px;
        padding: 15px;
        margin: 15px;
        align-items: end;
        margin-left: 10px;
        width: 50%;   
        position: static;
        nav{
            margin: 5px;
            padding: 15px;
            margin: 15px;
        }
    }

}